[submodule "PEUtils"]
	path = PEUtils
	url = https://github.com/littlepush/PEUtils.git
[submodule "PECoTask"]
	path = PECoTask
	url = https://github.com/littlepush/PECoTask.git
[submodule "PECoNet"]
	path = PECoNet
	url = https://github.com/littlepush/PECoNet.git
[submodule "PECoRLog"]
	path = PECoRLog
	url = https://github.com/littlepush/PECoRLog.git
